@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#ffffff] text-black
    }
}

header {
    display: block;
}

.headerLayout {
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    background: transparent;
    padding: 0 32px 10px;
    color: white;
    z-index: 10;
}

.headerColor {
    background: white;
    color: black;
}

.headerContent {
    width: 100%;
    max-width: 76.25rem;
    padding: 1.25rem 2rem;
    margin: 0 auto;
}

.mainTopContent {
    background: url("../public/images/coding-or-hacker-background-vector.jpg") center;
    background-size: cover;
    position: relative;
    min-height: 600px;
    max-height: 600px;
}

.mainTopContent .textArea {
    max-width: 80.25rem;
    margin: 0 auto;
    padding: calc(4rem + 4.5rem) 7.5rem;
    height: 600px;
    vertical-align: center;
}

.mainTopContent .textArea span {
    position: absolute;
    transform: translate(0%, 0%);
}

.mainTopContent .textArea span h2 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.mainTopContent .textArea span p {
    color: white;
    font-size: 2.3rem;
}

.box {
    background: #BDBDBD;
    width: 70px;
    height: 70px;
    border-radius: 70%;
    overflow: hidden;
    display: flex;
}

.box .profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgBox {
    position: relative;
    width: 100%;
    height: 550px;
}

.pageContent {
    margin: 25px 0px 25px 0px;
    min-height: 900px;
}

.pageLayout {
    padding-left: 10px;
    padding-right: 10px;
}

.pageLayout div.sectionTitle {
    justify-content: center;
    margin-bottom: 10px;
}

.pageLayout p.sectionTitle {
    margin-left: 15px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.pageLayout .imageContent {
    position: relative;
    width: 100%;
    height: 900px;
    text-align: -webkit-center;
    padding: 30px 100px 30px 100px;
}

.pageLayout .imageContent .skillImg {
    position: relative;
    width: 100%;
    height: 750px;
}