@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#ffffff] text-black
    }
}

header {
    display: block;
}

.headerLayout {
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    background: transparent;
    padding: 0 32px 10px;
    color: white;
    z-index: 10;
}

.headerColor {
    background: white;
    color: black;
}

.headerContent {
    width: 100%;
    max-width: 76.25rem;
    padding: 1.25rem 2rem;
    margin: 0 auto;
}

.mainTopContent {
    background: url("../public/images/coding-or-hacker-background-vector.jpg") center;
    background-size: cover;
    position: relative;
    min-height: 600px;
    max-height: 600px;
}

.mainTopContent .textArea {
    max-width: 80.25rem;
    margin: 0 auto;
    padding: calc(4rem + 4.5rem) 7.5rem;
    height: 600px;
}

.mainTopContent .textArea span {
    position: absolute;
    transform: translate(0%, 0%);
}

.mainTopContent .textArea span h2 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.mainTopContent .textArea span p {
    color: white;
    font-size: 2.3rem;
}

.box {
    background: #BDBDBD;
    width: 70px;
    height: 70px;
    border-radius: 70%;
    overflow: hidden;
    display: flex;
}

.box .profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgBox {
    position: relative;
    width: 100%;
    height: 550px;
}

.pageLayout {
    padding-left: 10px;
    padding-right: 10px;
    margin: 25px 0 0 0;
    padding-top: 30px;
    min-height: 900px;
}

.pageLayout hr {
    border: darkslategray solid 2px;
    width: 350px;
    margin: auto;
}

.pageLayout div.sectionTitle {
    justify-content: center;
    margin-bottom: 3px;
}

.pageLayout p.subTitle {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.pageLayout p.sectionTitle {
    margin-left: 15px;
}

.pageLayout .pageContent {
    position: relative;
    width: 100%;
    min-height: 900px;
    text-align: -webkit-center;
    padding: calc(2.5rem) 7.5rem;
    max-width: 80.25rem;
    margin: 0 auto;
}

.pageContent .imageContent {
    min-height: 200px;
    background-color: #ffffff;
    border-radius: 30px;
}

.imageContent .image-title {
    text-align: left;
    padding: 25px 0 0 50px;
    font-size: 25px;
    font-weight: bold;
    color: chocolate;
}

.imageContent .image-hr {
    width: 90%;
    margin: 5px 25px 10px 25px;
    border-color: chocolate;
}

.imageContent .skill-image-area {
    display: inline-grid;
    position: relative;
    /*width: 100%;*/
    min-height: 200px;
    padding: 5px 50px 25px 50px;
}

.imageContent .skill-image-area .skill-image {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.imageContent .skill-image-area .skill-image img {
    min-width: 120px;
    height: 120px;
    float: left;
    margin: 0 16px 0 16px;

}